@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply bg-chromebg !important;
  }

  /* svg  */
  .svg-light > svg > path {
    @apply fill-current text-white;
  }

  .svg-primary > svg > path {
    @apply fill-current text-primary;
  }

  .svg-secondary > svg > path {
    @apply fill-current text-gray3;
  }

  .svg-success > svg > path {
    @apply fill-current text-success;
  }

  .svg-danger > svg > path {
    @apply fill-current text-danger;
  }

  .svg-brand > svg > path {
    @apply fill-current text-brand;
  }

  .svg-xl > svg {
    @apply w-9 h-9 m-auto;
  }

  .branding > svg {
    height: 32px;
  }

  /* App Styles */
  .badge {
    @apply text-badge text-center;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  label {
    margin-bottom: 0 !important;
  }

  .metric-card {
    @apply rounded-xl shadow-md box-content relative bg-white p-4;
  }

  .metric-card-container {
    @apply rounded-xl shadow-md box-content relative bg-white overflow-hidden;
  }

  .metric-card-header {
    @apply p-4 bg-gray2 text-gray4 text-center text-sm;
  }

  .metric-card-body {
    @apply p-4 bg-white;
  }

  /* Storybook Styles  */
  .section-card {
    @apply bg-gray1 rounded-xl p-4;
  }
  .section-icon {
    @apply rounded bg-black;
  }

  .storybook-table {
    @apply w-full rounded-lg overflow-hidden;
  }

  .storybook-table th {
    @apply bg-gray2 p-4 text-sm;
  }

  .storybook-table tbody td {
    @apply p-4;
  }

  .logo-table img {
    @apply m-auto p-10;
  }
}
